.toggle-text{
    margin-top: 10px;
    width: 500px;
    background-color: #282c34;
}

.toggle-text:hover{
    background-color: #393942;
}

.toggle-menu{
    width: 500px;
}

.dropdown-buttons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dropdown-buttons{
    width: 200px;
    margin: 2px 0;
}
/*.record-button{*/
/*    margin-right: 50px;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.section-button{*/
/*    margin-left: 30px;*/
/*}*/